<!DOCTYPE html>

<header>
        <h1 class="header-title">
        <img src="images/favicon.png" alt="Silk-Strong Web Development" class="favicon-icon">
        Jason Towne's Jumpy Tarantula
        </h1>
        <p id="slogan"><em>Silk-Strong Web Development</em></p>
    <nav class="horizontalnavigation">
            <ul>
                <li><a href="index.html">Home</a></li> |
                <li><a href="introduction.html">Introduction</a></li> |
                <li><a href="contract.html">Course Contract</a></li> |
                <li><a href="brand.html">Brand</a></li> |
		<li><a href="fizzbuzz.html">FizzBuzz</a></li> 
            </ul>
    </nav>
</header>
