  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jumpy Tarantula</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://lint.page/kit/67ff88.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>Jumpy Tarantula | Home</h1>
    <nav class="horizontalnavigation">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Course Contract</a></li>
                <li><a href="brand.html">Brand</a></li>
		<li><a href="fizzbuzz0.html">FizzBuzz 0</a></li>
		<li><a href="fizzbuzz1.html">FizzBuzz 0 II</a></li>
            </ul>
    </nav>
  </header>
</body>
</html>
